DATABASE_URL="postgresql://coffee-shop:coffee-shop-password@localhost:5757/mydb?schema=public"

ADMINISTRATOR_NAME = 'ADMINISTRATOR_NAME'
ADMINISTRATOR_SURNAME = 'ADMINISTRATOR_SURNAME'
ADMINISTRATOR_PHONE = 'ADMINISTRATOR_PHONE'
ADMINISTRATOR_PASSWORD = 'ADMINISTRATOR_PASSWORD'